.TeamComposition {
    padding: 0.5rem 0rem;
}

.TeamComposition h3 {
    color: var(--main-color);
}

.TeamComposition_bottom {
    padding: 1.8rem 0rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.TeamComposition_bottom_card {
    display: flex;
    align-items: center;
    margin: 0.3rem 0rem;
}

.TeamComposition_bottom_card:hover {
    background-color: var(--background-grey2);
}

.image {
    height: 80px;
    width: auto;
}

.TeamComposition_bottom_card_right {
    padding: 0rem 1rem;
}

@media screen and (max-width: 480px) {
    .TeamComposition_bottom {
        padding: 1.8rem 0rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .TeamComposition_bottom_card {
        padding: 0rem 0rem;
    }
}