.heroSection {
    position: relative;
    height: calc(100vh);
    background-color: var(--main-color);
}

.heroSection_box {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100%);
    z-index: 3;
}

.heroSection_box_colums {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.heroSection_box_colums h1 {
    line-height: 3.1rem;
    margin-bottom: 1rem;
}

.heroSection_box_colums_rigth {
    grid-column: 3;
}

.heroSection_gradient {
    content: '';
    position: absolute;
    height: calc(50vh);
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 0.5) 60%, transparent);
    z-index: 2;
}

@media screen and (max-width: 480px) {

    .heroSection_box_colums h1 {
        line-height: 1.4rem;
    }

    .heroSection_box {
        background-color: transparent;
        z-index: 3;
        height: calc(100%);
    }

    .heroSection_box_colums {
        width: 90%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .heroSection_box_colums h1 {
        line-height: 2.4rem;
    }

    .heroSection_box {
        background-color: transparent;
        z-index: 3;
        height: calc(100%);
    }

    .heroSection_box_colums {
        width: 90%;
    }
}