.heroSection {
    height: 100vh;
    background-color: var(--background-dark-color);
    background-image: url('./../../img/landing_grid.svg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}

.heroSection h1 {
    line-height: 3.1rem;
}

.heroSection h2 {
    padding: 0.5rem 0;
    margin: 0;
}

.heroSection_colums {
    display: grid;
    width: 95%;
    margin: 60px auto 0 auto;
    grid-template-columns: 1fr 5fr 1fr 5fr;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}

.heroSection_colums_text {
    grid-column: 2;
}

.heroSection_colums_text_button {
    margin-top: 20px;
    width: 100%;
}

.heroSection_colums_text_button_flex {
    display: grid;
    grid-template-columns: 1fr 200px;
    justify-content: center;
    gap: 1px;
}

/* .heroSection_colums_text_button_active {
    width: 300px;
} */

.heroSection_colums_text_button input {
    border: 1px solid white;
    background-color: white;
    color: black;
}

.heroSection_colums_text_button input::placeholder {
    color: black;
}

.heroSection_colums_floppy {
    grid-column: 4;
    display: flex;
    justify-content: center;
    align-content: center;
}

.heroSection_colums_floppy_img {
    width: auto;
    height: 60vh;
}

@media screen and (max-width: 480px) {

    .heroSection h1 {
        line-height: 1.5rem;
    }

    .heroSection_colums {
        grid-template-columns: 1fr;
        gap: 0;
        width: 90%;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
    }

    .heroSection_colums_text {
        border: 1px solid white;
        width: 100%;
        grid-column: unset;
        order: 2;
    }

    .heroSection_colums_floppy {
        border: 1px solid white;
        grid-column: unset;
        order: 1;
        margin-top: 1rem;
    }

    .heroSection_colums_floppy_img {
        width: 200px;
        height: auto;
    }

    .heroSection_colums_text_button {
        margin-top: 30px;
    }

    .heroSection_colums_text_button_flex {
        display: grid;
        grid-template-columns: 1fr 170px;
        justify-content: center;
        gap: 1px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .heroSection_box_colums h1 {
        line-height: 2.4rem;
    }

    .heroSection_colums {
        grid-template-columns: 1fr;
        gap: 0;
        width: 90%;
        align-items: center;
        justify-content: center;
    }

    .heroSection_banner {
        width: 90%;
    }

    .heroSection_colums_text {
        grid-column: unset;
        order: 2;
    }

    .heroSection_colums_floppy {
        grid-column: unset;
        order: 1;
        margin-top: 2rem;
    }

    .heroSection_colums_floppy_img {
        width: auto;
        height: 25vh;
    }
}