.heroSection {
    position: relative;
    height: calc(100vh);
    background-color: var(--background-dark-color);
}

.heroSection_box {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100%);
    z-index: 3;
}

.heroSection_box_colums {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.heroSection_box_colums h1 {
    line-height: 3.1rem;
}

.heroSection_box_colums_title {
    margin-bottom: 1rem;
}

.heroSection_box_colums_warning {
    padding: 1rem 0;
    text-align: right;
    color: var(--main-color);
    animation: pulseColor 5s infinite;

}

@keyframes pulseColor {
    0% {
        color: var(--main-color);
    }

    50% {
        color: white;
        /* You can change this to any color you want the div to pulse to */
    }

    100% {
        color: var(--main-color);
    }
}

.heroSection_box_colums_rigth {
    grid-column: 3;
}

@media screen and (max-width: 480px) {

    .heroSection_box_colums h1 {
        line-height: 1.4rem;
    }

    .heroSection_box {
        background-color: transparent;
        z-index: 3;
        height: calc(100%);
    }

    .heroSection_box_colums {
        width: 90%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .heroSection_box_colums h1 {
        line-height: 2.4rem;
    }

    .heroSection_box {
        background-color: transparent;
        z-index: 3;
        height: calc(100%);
    }

    .heroSection_box_colums {
        width: 90%;
    }
}