.LastRelease {
    border-style: solid;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(to right, transparent, var(--main-color), transparent) 10;
}

.LastRelease_box {
    width: 95%;
    margin: 1rem auto 4rem auto;
}

.LastRelease_box_title {
    display: flex;
    justify-content: space-between;
    color: var(--background-grey);
    text-transform: uppercase;
}

.LastRelease_box_title h2 {
    padding: 0;
    margin: 0;
}

.LastRelease_box_card {
    padding: 1rem 0;
}

@media screen and (max-width: 480px) {

    .LastRelease_box {
        width: 90%;
        margin: 1rem auto 2rem auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .LastRelease_box {
        margin: 1rem auto 2rem auto;
    }
}