.JoinLir {
    width: 95%;
    margin: auto;
    padding: 4rem 0;
}

.JoinLir input {
    border: 1px solid white;
    background-color: white;
    color: black;
}

.JoinLir input::placeholder {
    color: black;
}

.JoinLir h2 {
    margin: 0;
    padding: 0;
    line-height: 3.1rem;
    text-transform: uppercase;
    text-align: left;
}

.JoinLir h4 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.JoinLir_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 1rem 0;
    align-items: left;
}

.JoinLir_buttons_button {
    margin: 0.5rem 0;
    width: 200px;
}

.JoinLir_buttons_email {
    margin: 0.5rem 0;
}

.JoinLir_buttons_button_flex {
    display: grid;
    grid-template-columns: 1fr 200px;
    justify-content: center;
}


@media screen and (max-width:480px) {
    .JoinLir {
        width: 90%;
        padding: 2rem 0;
    }

    .JoinLir h2 {
        line-height: 1.4rem;
    }

    .JoinLir_buttons {
        display: block;
    }

    .JoinLir_secondFeature {
        width: 180px;
        padding: 0.5rem 0rem;
    }

    .JoinLir_buttons_button_flex {
        grid-template-columns: 1fr 170px;
    }
}

@media screen and (min-width:481px) and (max-width: 1024px) {
    .JoinLir {
        width: 95%;
        padding: 3rem 0;
    }

    .JoinLir h2 {
        line-height: 2.4rem;
    }
}