.JoinLir {
    width: 95%;
    margin: auto;
    padding: 4rem 0;
}

.JoinLir h3,
.JoinLir h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

.JoinLir h4 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.JoinLir_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
}

.JoinLir_grid_right,
.JoinLir_grid_left {
    text-align: center;
    padding: 0 2rem;
}

.JoinLir_grid_left {
    border-right: 1px solid white;
}

.JoinLir_grid_right_buttons,
.JoinLir_grid_left_button {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.JoinLir_grid_right_secondButton {
    width: 20%;
}

@media screen and (max-width:480px) {
    .JoinLir {
        width: 90%;
        padding: 2rem 0;
    }

    .JoinLir_grid_left {
        border-right: none;
    }

    .JoinLir_grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .JoinLir_grid_right_secondButton {
        width: 100px;
    }

    .JoinLir_grid_right,
    .JoinLir_grid_left {
        padding: 0;
    }

    .JoinLir_grid_right_buttons,
    .JoinLir_grid_left_button {
        gap: 0.5rem;
    }
}

@media screen and (min-width:481px) and (max-width: 1024px) {
    .JoinLir {
        width: 95%;
        padding: 3rem 0;
    }

    .JoinLir_grid_left {
        border-right: none;
    }

    .JoinLir_grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .JoinLir_grid_right_secondButton {
        width: 100px;
    }

    .JoinLir_grid_right,
    .JoinLir_grid_left {
        padding: 0;
    }

    .JoinLir_grid_right_buttons,
    .JoinLir_grid_left_button {
        gap: 0.5rem;
    }
}