.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    overflow: hidden;
    z-index: 4;
}

.transparentNavbar {
    background-color: transparent;
}

.greyNavbar {
    background-color: var(--background-dark-color);
    border-bottom: 1px solid var(--background-grey);
}

.navbar_container {
    margin: auto;
    width: 95%;
    height: inherit;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
}

.navbar_container_left {
    display: grid;
    height: inherit;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.navbar_container_left_logo {
    display: flex;
    align-items: center;
    text-align: left;
}

.navbar_container_left_discover {
    display: flex;
    gap: 2rem;
    text-align: left;
}

.navbar_container_right {
    grid-column: 3;
    height: inherit;
    align-items: center;
}

.navbar_container_right_noUser {
    display: flex;
    justify-content: right;
    gap: 40px;
    height: inherit;
    align-items: center;
}

.navbar_container_right_noUser_login,
.navbar_container_right_noUser_register {
    cursor: pointer;
    text-align: right;
}

.navbar_container_right_noUser_register {
    color: var(--main-color);
}

.red {
    color: var(--main-color);
    cursor: pointer;
}

.black {
    color: black;
    cursor: pointer;
}

.red_hover:hover {
    transition: 0.5s all;
    color: var(--main-color);
    cursor: pointer;
}

.black_hover:hover {
    transition: 0.5s all;
    color: black;
    cursor: pointer;
}

.navbar_container_right_yesUser_connect_button:hover,
.navbar_container_right_noUser_register:hover {
    transition: 0.5s all;
    color: white;
}

.navbar_container_right_yesUser {
    display: grid;
    height: inherit;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
}

.navbar_container_right_yesUser_connect {
    grid-column: 2 / 3;
    text-align: right;
}

.navbar_container_right_yesUser_connect_button {
    color: var(--main-color);
    cursor: pointer;
}

.navbar_container_right_yesUser_connect_wallet {
    grid-column: 2 / 3;
}

.navbar_container_right_yesUser_connect_wallet_right {
    grid-column: 2 / 3;
    font-family: "Space Mono", sans-serif;
    align-items: right;
    display: flex;
    justify-content: flex-end;
}

.navbar_container_right_yesUser_profile {
    display: flex;
    align-content: center;
    grid-column: 3 / 3;
    justify-content: flex-end;
}

.navbar_container_right_yesUser_profile_icon {
    align-self: center;
    cursor: pointer;
}


.navbar_container_right_yesUser_connect_wallet_wrong {
    grid-column: 2 / 3;
    font-family: "Space Mono", sans-serif;
    align-items: right;
    display: flex;
    justify-content: flex-end;
}

.navbar_container_right_yesUser_connect_wallet_wrong_icon {
    font-size: 35px;
    color: var(--background-grey);
}

.navbar_container_right_profile_pic {
    font-size: 35px;
}

.navbar_sidebar {
    display: none
}

.icon {
    display: inline-block;
    width: 24px;
    height: 12px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.line {
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: white;
    transition: transform 0.6s ease, opacity 0.3s ease;
}

.icon span:nth-child(1) {
    top: 0;
}

.icon span:nth-child(2) {
    top: 6px;
}

.icon span:nth-child(3) {
    top: 12px;
}

.close span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.close span:nth-child(2) {
    opacity: 0;
}

.close span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

body.overlay-open {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    z-index: 999;
    animation: blur 0.3s ease-in-out;
    overflow: hidden;
}

.overlay-open .overlay {
    overflow: hidden;
}

.overlay_transparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
}

.profile_tab {
    position: absolute;
    background-color: var(--background-dark-color);
    border-top: 1px solid var(--background-grey);
    border-left: 1px solid var(--background-grey);
    border-right: 1px solid var(--background-grey);
    right: 0%;
    top: 59px;
    animation: fadeIn 0.3s ease-in-out;
}

.profile_tab_element {
    padding: 0.5rem 2rem 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid var(--background-grey);
}

.profile_tab_element:hover {
    background-color: var(--background-grey2);
}

.profile_tab_logout {
    padding: 0rem 1rem;
    cursor: pointer;
    align-items: center;
    border-bottom: 1px solid var(--background-grey);
}

.overlay_sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: calc(100% - 60px);
    z-index: 999;
}

.navbar_Login,
.navbar_Register,
.navbar_ForgotPassword {
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid var(--background-grey);
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 30%;
    display: inline-block;
    overflow-y: auto;
}

.navbar_Login {
    top: 50%;
    left: 50%;
    animation: slideInLogin 0.3s ease-in-out;
}

.navbar_Register {
    top: 50%;
    left: 50%;
    animation: slideInRegister 0.3s ease-in-out;
}

.navbar_ForgotPassword {
    top: 30%;
    left: 50%;
    animation: slideInOther 0.3s ease-in-out;
}

.navbar_ArtistForm {
    top: 50%;
    left: 50%;
    animation: slideInOther 0.3s ease-in-out;
}

.navbar_ArtistForm,
.navbar_CreateItem,
.navbar_ArtistSettings {
    position: absolute;
    background-color: var(--background-grey2);
    color: white;
    border: 1px solid var(--background-grey);
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 70%;
    max-height: 98vh;
    display: inline-block;
    top: 50%;
    left: 50%;
    animation: slideInOther 0.3s ease-in-out;
    overflow-y: auto;
}

.navbar_AccountSetting {
    position: absolute;
    background-color: var(--background-grey2);
    color: white;
    border-top: 1px solid var(--background-grey);
    border-left: 1px solid var(--background-grey);
    border-right: 1px solid var(--background-grey);
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 50%;
    max-height: 98vh;
    display: inline-block;
    top: 40%;
    left: 50%;
    animation: slideInOther 0.3s ease-in-out;
    overflow-y: auto;
}

@keyframes blur {
    0% {
        backdrop-filter: blur(0px);
    }

    100% {
        backdrop-filter: blur(8px);
    }
}

@keyframes slideInLogin {
    0% {
        transform: translate(70%, -100%) scale(0);
        opacity: 0.2;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes slideInRegister {
    0% {
        transform: translate(100%, -100%) scale(0);
        opacity: 0.2;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes slideInOther {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0.2;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(-15px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar_openSidebar {
    position: absolute;
    top: 0px;
    right: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: var(--background-dark-color);
    color: white;
    z-index: 1000;
    animation-name: sidebarOpen;
    animation-duration: 0.8s;
}

@keyframes sidebarOpen {
    from {
        transform: translateY(-3%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {

    .navbar_container_left_discover,
    .navbar_container_center,
    .navbar_container_right {
        display: none;
    }

    .navbar_sidebar {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        width: auto;
        color: white;
    }

    .navbar_container {
        width: 90%;
    }

    .navbar_Login {
        top: 40%;
        left: 50%;
        width: 90%;
    }

    .navbar_Register {
        top: 50%;
        left: 50%;
        width: 90%;
    }

    .navbar_ForgotPassword {
        top: 40%;
        left: 50%;
        width: 90%;
    }

    .navbar_ArtistForm {
        top: 50%;
        left: 50%;
        width: 90%;
    }

    .navbar_AccountSetting,
    .navbar_ArtistSettings {
        top: 50%;
        left: 50%;
        width: 90%;
    }

    .navbar_CreateItem {
        top: 50%;
        left: 50%;
        width: 90%;
    }
}


@media screen and (min-width:481px) and (max-width: 1024px) {

    .navbar_container_left_discover,
    .navbar_container_center,
    .navbar_container_right {
        display: none;
    }

    .navbar_sidebar {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2.5%;
        width: auto;
        color: white;
    }

    .navbar_container {
        width: 95%;
    }

    .navbar_Login {
        top: 40%;
        left: 50%;
        width: 60%;
    }

    .navbar_Register {
        top: 50%;
        left: 50%;
        width: 60%;
    }

    .navbar_ForgotPassword {
        top: 40%;
        left: 50%;
        width: 60%;
    }

    .navbar_ArtistForm {
        top: 45%;
        left: 50%;
        width: 60%;
    }
}