.DropZone {
    margin: 0rem 0;
}

.DropZone_titleWithTutorial {
    display: flex;
    align-items: center;
    gap: 10px;
}

.DropZone_titleWithTutorial_icon_appear {
    display: none;
    position: absolute;
    max-width: 50%;
    background-color: var(--background-grey2);
    padding: 0rem 0.5rem;
    border: 1px solid var(--background-grey)
}

.DropZone_titleWithTutorial_icon_icon {
    display: flex;
    align-items: center;
}

.DropZone_titleWithTutorial_icon:hover .DropZone_titleWithTutorial_icon_appear {
    display: block;
}

.DropZone_box_done,
.DropZone_box {
    margin-top: 0.5rem;
    border: 1px solid var(--background-grey);
    border-radius: 0.1rem;
    background-color: var(--background-grey2);
    color: var(--background-grey3);
    text-align: center;
    padding: 1rem 0rem;
    cursor: pointer;
    font-family: "Space mono", sans-serif;
    margin-bottom: 1rem;
}

.DropZone_box_done {
    color: var(--main-color);
}

.DropZone_box_done_loading {
    margin-top: 1rem;
    color: var(--main-color);
}

.DropZone_box_aside {
    padding: 2rem;
    border: 3px dotted var(--background-3);
    margin-top: 3rem;
    background-color: var(--background-2);
    border-radius: 1px;
}

.DropZone_box_aside_box {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    gap: 3rem;
}

.DropZone_box_aside_box_preview p span {
    font-size: 1.2rem;
    font-weight: 700;
    margin-inline: 1rem;
}

.DropZone_box_aside_box_preview_one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.2rem;
    margin-inline: 1rem;
}

.DropZone_box_aside_box_preview_three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.yesOrNo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.selectContainer {
    width: 150px;
}

@media screen and (max-width: 35em) {
    .DropZone_box_aside_box_preview_one {
        display: grid;
    }

    .DropZone_box_aside_box {
        grid-template-columns: 1fr;
    }

    .DropZone_box_aside_box_preview_three {
        grid-template-columns: 1fr;
    }

}