.NFTDetailsImg {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 5fr 1fr 6fr;
}

.NFTDetailsImg_description_info {
    background-color: var(--background-grey2);
    border: 1px solid var(--background-grey);
}

.NFTDetailsImg_description_info_title {
    border-bottom: 1px solid var(--background-grey);
    display: flex;
    align-items: center;
}

.NFTDetailsImg_description_info_title_play {
    border-right: 1px solid var(--background-grey);
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0.7rem 0.7rem;
}

.NFTDetailsImg_description_info_title_title {
    padding: 0rem 0.7rem;
}

.pause,
.play {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.NFTDetailsImg_description_info h1 {
    font-weight: 400;
    line-height: 1.2rem;
    padding: 0;
    margin: 0;
}

.NFTDetailsImg_description_info h2 {
    font-weight: 400;
    line-height: 1.2rem;
    color: var(--main-color);
    padding: 0;
    margin: 0;
}

.underline:hover {
    text-decoration: underline;
}


.NFTDetailsImg_description_info_bottom {
    padding: 0.5rem 0.7rem;
    font-family: "Space mono", sans-serif;
    line-height: 0.95rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.NFTDetailsImg_description_middle {
    padding: 0.8rem 0;
}

.NFTDetailsImg_description_info_buy_active_more {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.NFTDetailsImg_description_info_button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}

.NFTDetailsImg_description_info_button,
.NFTDetailsImg_description_info_button2 {
    padding: 2rem 0rem;
}

.NFTDetailsImg_box {
    grid-column: 3;
    display: flex;
    align-items: left;
    justify-content: left;
}


.NFTDetailsImg_box_img {
    position: relative;
    width: 470px;
    height: 470px;
    border: 1px solid var(--background-grey);
}

.play_button_overlay {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8) 100%);
    /* Semi-transparent background */
    justify-content: center;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.5s, visibility 0.5s;
}

.NFTDetailsImg_box_img:hover .play_button_overlay {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.link_to_your_NFTPage {
    padding: 1rem 0;
}

.timer {
    text-align: center;
    background-color: var(--background-grey2);
    font-family: "Space mono", sans-serif;
    border: 1px solid var(--background-grey);
    padding: 0.3rem 0rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    z-index: 999;
    animation: blur 0.3s ease-in-out;
    overflow: hidden;
}

.navbar_Buy {
    position: absolute;
    background-color: white;
    color: black;
    transform: translate(-50%, -50%);
    z-index: 1000;
    top: 50%;
    width: 50%;
    left: 50%;
    right: 50%;
    display: inline-block;
    overflow-y: auto;
    animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0.2;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {
    .NFTDetailsImg {
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0px;

    }

    .NFTDetailsImg_box {
        grid-column: unset;
        display: flex;
        width: 100%;
        aspect-ratio: 1;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .NFTDetailsImg_box_img {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        margin: 0 auto;
        border: 1px solid var(--background-grey);
        border-bottom: none;
    }

    .NFTDetailsImg_box_img_img {
        width: 100%;
        height: auto;
    }

    .NFTDetailsImg_box_img:hover .play_button_overlay {
        display: none;
    }

    .NFTDetailsImg_description {
        grid-row: 2;
    }

    .NFTDetailsImg_description_info h1 {
        line-height: 1.1rem;
    }

    .NFTDetailsImg_description_info h2 {
        line-height: 1.1rem;
        margin: 0;
    }

    .NFTDetailsImg_description_info_title_play {
        padding: 0.6rem 0.6rem;
    }

    .NFTDetailsImg_description_info_title_title {
        padding: 0 0.6rem;
    }

    .NFTDetailsImg_description_info_bottom {
        padding: 0.45rem 0.6rem;
        line-height: 0.9rem;
    }

    .navbar_Buy {
        width: 90%;
    }

    .NFTDetailsImg_description_middle {
        padding: 0.3rem 0;
    }
}

@media screen and (min-width:481px) and (max-width: 1024px) {
    .NFTDetailsImg {
        width: 95%;
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0px;

    }

    .NFTDetailsImg_box {
        grid-column: unset;
        display: flex;
        width: 100%;
        aspect-ratio: 1;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .NFTDetailsImg_box_img {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        margin: 0 auto;
        border: 1px solid var(--background-grey);
        border-bottom: none;
    }

    .NFTDetailsImg_box_img_img {
        width: 100%;
        height: auto;
    }

    .NFTDetailsImg_box_img:hover .play_button_overlay {
        display: none;
    }

    .NFTDetailsImg_description {
        grid-row: 2;
    }

    .NFTDetailsImg_description_info h1 {
        line-height: 1.1rem;
    }

    .NFTDetailsImg_description_info h2 {
        line-height: 1.1rem;
        margin: 0;
    }

    .NFTDetailsImg_description_info_title_play {
        padding: 0.6rem 0.6rem;
    }

    .NFTDetailsImg_description_info_title_title {
        padding: 0 0.6rem;
    }

    .NFTDetailsImg_description_info_bottom {
        padding: 0.45rem 0.6rem;
        line-height: 0.9rem;
    }

    .navbar_Buy {
        width: 90%;
    }

    .NFTDetailsImg_description_middle {
        padding: 0.3rem 0;
    }
}