.Collectors {
    position: relative;
    padding: 1rem 0;
    mask-image: linear-gradient(to right,

            /* Fully visible after 20% */
            rgba(0, 0, 0, 1) 80%,
            /* Fully visible until 80% */
            transparent
            /* Fully transparent at the end */
        );
    -webkit-mask-image: linear-gradient(to right,

            rgba(0, 0, 0, 1) 80%,
            transparent);

}

.Collectors_displayOnHover {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}


.Collectors_box:hover .Collectors_displayOnHover {
    display: inline-block;
}

.Collectors_displayOnHover_box {
    background-color: var(--background-grey2);
    overflow: hidden;
    white-space: nowrap;
    padding: 0.2rem 0;
    text-align: center;
    text-overflow: ellipsis;
    border: 1px solid var(--background-grey);
}

.Collectors_box img {
    width: 30px;
    /* Set the width directly on the image element */
    height: auto;
    /* Maintain the aspect ratio */
}

.Collectors_box {
    display: flex;
    justify-content: center;
}