.ItemsListed_title {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--background-grey2);
    border-top: 1px solid var(--background-grey);
    border-left: 1px solid var(--background-grey);
    border-right: 1px solid var(--background-grey);
}

.ItemsListed_items {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--background-grey2);
    border: 1px solid var(--background-grey);
}

.ItemsListed_items:hover {
    background-color: var(--background-grey);
}

.ItemsListed h4,
.ItemsListed p {
    padding: 0.5rem 0.5rem;
    margin: 0;
    font-family: "Space mono", sans-serif;
}

@media screen and (max-width: 480px) {
    .ItemsListed {
        grid-template-columns: 1fr;
    }

    .ItemsListed_title {
        grid-column: 1;
    }

    .ItemsListed_items {
        grid-column: 1;
    }
}

@media screen and (min-width:481px) and (max-width: 1024px) {
    .ItemsListed {
        grid-template-columns: 1fr;
    }

    .ItemsListed_title {
        grid-column: 1;
    }

    .ItemsListed_items {
        grid-column: 1;
    }
}