.FooterAudioPlayer {
    z-index: 10000;
    position: fixed;
    transition: bottom 0.3s ease;
    bottom: 0px;
    width: 100%;
    background-color: var(--background-dark-color);
}

.audioPlayer_progressBar {
    display: flex;
    justify-self: top;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.FooterAudioPlayer input {
    margin: 0;
    padding: 0;
}

.progressBar {
    appearance: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--background-grey);
    border: none;
    cursor: pointer;
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.progressBar::-webkit-slider-thumb {
    appearance: none;
    width: 5px;
    height: 5px;
    background-color: var(--main-color);
    border-radius: 50%;
}

.progressBar:hover::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
}

.progressBar::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.progressBar::-moz-range-track {
    height: 1.5px;
    background-color: black;
    border-radius: 4px;
}

.progressBar::-moz-range-thumb {
    padding: 0;
    margin: 0;
    width: 1.5px;
    height: 1.5px;
    background-color: black;
    border-radius: 50%;
}

.FooterAudioPlayer_colums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    margin: auto;
    padding: 0.4rem 0rem;
}

.FooterAudioPlayer_colums_left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.FooterAudioPlayer_colums_left_song {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.FooterAudioPlayer_colums_left_artist {
    align-self: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--main-color);
}

.FooterAudioPlayer_left_info_artist:hover {
    text-decoration: underline;
    cursor: pointer;
}

.FooterAudioPlayer_colums_center {
    display: flex;
    align-items: center;
}

.currentTime,
.duration {
    font-weight: 400;
    font-family: 'Space Mono', sans-serif;
}

.currentTime {
    padding-left: 1.3rem;
}

.duration {
    padding-right: 1.3rem;
}

.skip_right,
.playPause,
.skip_left {
    margin: auto;
    background: none;
    border: none;
    color: white;
    display: flex;
    cursor: pointer;
}

.play,
.pause {
    width: 25px;
    height: 25px;
}

.skip {
    width: 19px;
    height: 19px;
}

.FooterAudioPlayer_colums_right {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 27px;
    gap: 30px;
}

.volumeBar {
    appearance: none;
    padding: 0;
    background: var(--background-grey);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 2px;
    top: -8px;
    outline: none;
    background-image: linear-gradient(white, white);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.volumeBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    top: 1px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: none;
    background-color: white;
    cursor: pointer;
    position: relative;
    margin: 0 0 0 0;
    z-index: 3;
    box-sizing: border-box;
}

.volumeBar::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.hover:hover {
    text-decoration: underline;
}

@media screen and (max-width: 480px) {

    .hide,
    .hide_mobile {
        display: none;
    }

    .FooterAudioPlayer_colums {
        width: 90%;
        grid-template-columns: 2fr 1fr;
        padding: 0.1rem 0;
        margin-bottom: 5px;
    }

    .FooterAudioPlayer_colums_left {
        gap: 10px;
        line-height: 0.8rem;
        align-items: center;
    }

    .FooterAudioPlayer_colums_left_song {
        padding: 0rem 0rem;
    }

    .play,
    .pause {
        width: 20px;
        height: 20px;
    }

    .skip {
        width: 15px;
        height: 15px;
    }
}

@media screen and (min-width:481px) and (max-width: 1024px) {

    .hide,
    .hide_mobile {
        display: none;
    }

    .FooterAudioPlayer_colums {
        width: 95%;
        grid-template-columns: 5fr 1fr;
        padding: 0.3rem 0;
    }

    .FooterAudioPlayer_colums_left_song {
        padding: 0rem 0rem;
    }

    .play,
    .pause {
        width: 20px;
        height: 20px;
    }

    .skip {
        width: 15px;
        height: 15px;
    }
}