.Comments_count {
    margin-bottom: 0.5rem;
}

.Comments_box {
    padding: 0.5rem 0;
    display: flex;
    align-items: top;
    gap: 20px;
}

.dissoveBottom {
    position: relative;
    mask-image: linear-gradient(to bottom
            /* Fully visible after 20% */
            rgba(0, 0, 0, 1) 80%,
            /* Fully visible until 80% */
            transparent
            /* Fully transparent at the end */
        );
    -webkit-mask-image: linear-gradient(to bottom,

            rgba(0, 0, 0, 1) 80%,
            transparent);

}

.Comments_box_text p {
    padding: 0;
    margin: 0;
}

.ShowMoreButton {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 2.9rem;
    cursor: pointer;
}