.UpdateAccount_box {
    margin-bottom: 1rem
}

.UpdateAccount {
    margin-top: 0.5rem;
}

.UpdateAccount_or {
    color: white;
    text-align: center;
    margin-top: 0.5rem;
}

.incorrectEmail {
    color: red;
    text-align: right;
}