.vh_discover {
    min-height: 100vh;
    padding: 0.5px;
}

.discover {
    margin: 60px auto;
}

.discover_filter {
    padding: 15px 2.5%;
}

.arrow_left {
    position: absolute;
    left: 1%;
    top: 79px;
    width: 15px;
    height: auto;
    z-index: 2;
}

.arrow_right {
    position: absolute;
    right: 1%;
    width: 15px;
    top: 79px;
    height: auto;
    z-index: 2;
}


.right_dissolve {
    /* Your existing dissolve effect styles */
    position: relative;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 80%, transparent);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 80%, transparent);
    z-index: 1;
}

.left_dissolve {
    /* Your existing dissolve effect styles */
    position: relative;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 80%, transparent);
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 80%, transparent);
    z-index: 1;
}

.both_dissolve {
    /* Your existing dissolve effect styles */
    position: relative;
    mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1)80%, transparent);
    z-index: 1;
}

.no_dissolve {
    mask-image: none;
    -webkit-mask-image: none;
}


.discover_filter_element {
    border: 1px solid var(--background-grey);
    background-color: var(--background-grey2);
    padding: 0.1rem 0.6rem;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.discover_items {
    margin: 0 auto;
    width: 95%;
}

.active {
    border: 1px solid white;
    background-color: var(--main-color);
}

@media screen and (max-width: 480px) {
    .discover {
        margin: 60px auto;
    }

    .discover_filter {
        padding: 15px 5%;
    }

    .discover_items {
        width: 90%;
    }
}

@media screen and (min-width:481px) and (max-width: 1024px) {
    .discover_filter {
        padding: 15px 2.5%;
    }

    .discover_items {
        width: 95%;
    }
}