.vh_success {
    min-height: 100vh;
    padding: 0.5px;
}

.success {
    width: 95%;
    margin: calc(60px + 2.5%) auto;
}

@media screen and (max-width: 480px) {
    .success {
        width: 90%;
        margin: calc(60px + 5%) auto 90px auto;
    }
}

@media screen and (min-width:481px) and (max-width: 1024px) {
    .success {
        width: 95%;
        margin: calc(60px + 2.5%) auto 90px auto;
    }
}