.LastRelease_box_card {
    padding: 1rem 0;
}

.LastRelease_box_swiper {
    cursor: grab;
}

.right_dissolve {
    /* Your existing dissolve effect styles */
    position: relative;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 85%, transparent);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 85%, transparent);
}

.left_dissolve {
    /* Your existing dissolve effect styles */
    position: relative;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 85%, transparent);
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 85%, transparent);
}

.both_dissolve {
    /* Your existing dissolve effect styles */
    position: relative;
    mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, transparent);
}

.no_dissolve {
    mask-image: none;
    -webkit-mask-image: none;
}

@media screen and (max-width: 480px) {
    .LastRelease_box {
        width: 90%;
        margin: 1rem auto 2rem auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .LastRelease_box {
        margin: 1rem auto 2rem auto;
    }
}