.explanation {
    margin: 4rem 0 3rem 0;
}

.explanation h3 {
    padding: 0;
    margin: 0.5rem 0 1rem 0;
}

.explanation h2 {
    padding: 0;
    margin: 0;
}

.explanation_45 {
    width: 95%;
    margin: auto;
}

.explanation_first {
    position: relative;
    margin-left: 2.5%;
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding-top: 7rem;
    align-items: center;
}

.img_1 {
    position: absolute;
    width: 50%;
    right: 0%;
    height: auto;
}

.img_3 {
    position: absolute;
    right: 23%;
    top: 350px;
}

.img_4 {
    position: absolute;
    right: 16%;
    top: 70px;
}

.explanation_second {
    margin: 3rem 0;
    padding: 2rem 34.2% 2rem 18.3%;
    background-image: url("./../../img/coin_2.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
}

@media screen and (max-width: 480px) {
    .explanation {
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    .explanation_first {
        grid-template-columns: 1fr;
        margin-left: 5%;
        padding: 0 0 15rem 0;
        margin-bottom: 0rem;
    }

    .explanation_first_text {
        margin-right: 5%;
        align-self: flex-start;
    }

    .img_1 {
        position: absolute;
        width: 100%;
        top: 200px;
        right: 0%;
        height: auto;
    }


    .img_3 {
        position: absolute;
        right: 50%;
        width: 70px;
        height: auto;

    }

    .img_4 {
        position: absolute;
        right: 25%;
        width: 50px;
        height: auto;
    }

    .explanation_second {
        background-image: none;
        margin: 5rem auto 1rem auto;
        padding: 0rem 0rem;
        width: 90%;
        text-align: left;
    }

    .explanation_45 {
        width: 90%;
    }
}

@media screen and (min-width:481px) and (max-width: 1024px) {
    .explanation {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .explanation_first {
        grid-template-columns: 1fr;
        margin-left: 2.5%;
        padding: 0 0 22rem 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-size: 100% auto;
        background-position: center bottom;
    }

    .explanation_first_text {
        margin-right: 2.5%;
        align-self: flex-start;
    }

    .img_1 {
        position: absolute;
        width: 95%;
        top: 230px;
        right: 0%;
        height: auto;
    }

    .img_3 {
        position: absolute;
        right: 60%;
        width: 120px;
        height: auto;

    }

    .img_4 {
        position: absolute;
        right: 35%;
        width: 90px;
        height: auto;
    }

    .explanation_second {
        background-image: none;
        margin: 8rem auto 0rem auto;
        padding: 0rem 0rem;
        width: 95%;
        text-align: left;
    }

    .explanation_45 {
        width: 95%;
    }
}